- var data = {1: 'Подключаем ваш номер к облачной АТС. <br> Нет необходимости покупать стационарную АТС. <br> Вы экономите 300 000 тенге', 2: 'Поддержка работоспособности 24/7. <br> Ваши клиенты всегда дозвонятся до вас', 3: 'Настройка SIP телефона', 4: 'Интеграция с системой «MIND-SALES»'}

section.adventages
	.container
		h2!="<b>Вы выбираете только номера</b> - остальные задачи решаем мы"
		ul 
			each value, index in data
				li
					.shape
						.number
							span=index
						.text!=value