section.backForm
	a(name="form")
	.container
		h2!="<b>Заказать</b> бесплатную консультацию"
		form(action="application.php" method="POST")
			label
				input(type="text" required placeholder="Ваше имя")
			label
				input(type="tel" required placeholder="Телефон")
			label
				input(type="email" required placeholder="Ваш E-mail")
			label
				input(type="submit" value="Отправить")
