footer.siteFooter
	.container
		h4!="<b>«MINDPRO-GROUP»</b> — 2016"
		.adress!="Республика Казахстан, Астана, Алмата, Караганда <a href='mailto:someone@example.com'>hello@mindpro.kz</a>"
		.logo
			.img
			.text!="Cайт разработан <br> <b>mindpro-group.com</b>"
