//- Блок с мета тегами
meta(charset="utf-8")
meta(name="description" content="")
meta(name="Keywords" content="")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=480px, maximum-scale=1")

//- Блок с линками на фавиконку
link(rel="shortcut icon" href="http://mindpro.kz/sites/default/files/favicon_3.png" type="image/x-icon")
link(rel="apple-touch-icon" href="http://mindpro.kz/sites/default/files/favicon_3.png")
link(rel="apple-touch-icon" sizes="http://mindpro.kz/sites/default/files/favicon_3.png")
link(rel="apple-touch-icon" sizes="http://mindpro.kz/sites/default/files/favicon_3.png")

//- Подключение css
link(rel="stylesheet" href="style.css") 
link(href!="https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic" rel="stylesheet")