section.navigation
	.container
		h1.name="Mind-sales"
		h2.slogan="Внедрение IP телефонии в отделы продаж под ключ"
		.contact
			header.number!="+7 705 <b>108 99 88</b>"
			footer.link="Заказать обратный звонок"
	