html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, nav, output, ruby, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#mail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); }
  #mail .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 25px;
    padding: 25px; }
    #mail .message img {
      width: 150px;
      height: 150px; }
    #mail .message .message_text {
      float: right;
      padding-left: 25px;
      padding-top: 30px; }
      #mail .message .message_text h3 {
        font-size: 25pt;
        font-weight: 300;
        color: #0f0f0f; }
      #mail .message .message_text p {
        font-size: 11pt; }

.not_visible_mail {
  display: none; }

html {
  min-width: 480px; }

body {
  font-family: Roboto, sans-serif;
  min-width: 480px;
  background: #ccc; }

.container-float {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container-float:after {
    content: " ";
    display: block;
    clear: both; }

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }

.navigation {
  height: 90px;
  background: #FFFFFF; }
  .navigation .container {
    padding-left: 15px;
    padding-right: 15px; }
  .navigation .name {
    color: #872d85;
    font-weight: 700;
    text-transform: uppercase;
    float: left; }
    @media screen and (min-width: 480px) {
      .navigation .name {
        width: 90px;
        font-size: 15px;
        padding-top: 35px; } }
    @media screen and (min-width: 750px) {
      .navigation .name {
        width: 150px;
        font-size: 25px;
        padding-top: 30px; } }
  .navigation .slogan {
    float: left;
    border-left: 1px solid #d8d8d8;
    font-weight: 700;
    color: #484848; }
    @media screen and (min-width: 480px) {
      .navigation .slogan {
        width: 180px;
        font-size: 13px;
        padding-left: 10px;
        margin-left: 3%;
        margin-top: 30px; } }
    @media screen and (min-width: 750px) {
      .navigation .slogan {
        font-size: 22px;
        margin-top: 5px;
        padding-left: 20px;
        width: 290px;
        margin-left: 2%;
        padding-top: 15px;
        padding-bottom: 20px; } }
    @media screen and (min-width: 970px) {
      .navigation .slogan {
        margin-top: 10px;
        width: auto;
        padding-top: 20px;
        padding-bottom: 25px; } }
  .navigation .contact {
    float: right;
    text-align: center; }
    .navigation .contact .number {
      padding-top: 23px;
      font-weight: 300;
      color: #686868;
      padding-bottom: 6px; }
      @media screen and (min-width: 480px) {
        .navigation .contact .number {
          font-size: 19px; } }
      @media screen and (min-width: 750px) {
        .navigation .contact .number {
          font-size: 24px; } }
    .navigation .contact .link {
      color: #5bacbd;
      padding-bottom: 4px;
      border-bottom: 1px dotted; }
      @media screen and (min-width: 480px) {
        .navigation .contact .link {
          font-size: 12px; } }
      @media screen and (min-width: 750px) {
        .navigation .contact .link {
          font-size: 14px; } }
    .navigation .contact b {
      font-weight: 700;
      color: #3a3a3a; }

.adventages {
  background: url("images/advantages.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 50px; }
  .adventages b {
    font-weight: 700; }
  .adventages h2 {
    padding-top: 65px;
    padding-bottom: 75px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 400; }
    @media screen and (min-width: 480px) {
      .adventages h2 {
        font-size: 15px; } }
    @media screen and (min-width: 750px) {
      .adventages h2 {
        font-size: 24px; } }
    @media screen and (min-width: 970px) {
      .adventages h2 {
        font-size: 32px; } }
    @media screen and (min-width: 1170px) {
      .adventages h2 {
        font-size: 38px; } }
  @media screen and (min-width: 900px) {
    .adventages ul {
      padding-left: 15px;
      padding-right: 15px; } }
  .adventages ul li {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box; }
    @media screen and (min-width: 480px) {
      .adventages ul li {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0; } }
    @media screen and (min-width: 800px) {
      .adventages ul li {
        width: 48.57143%;
        float: left; } }
    .adventages ul li .shape {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      background: #1c88d6;
      border-radius: 50px;
      height: 100px;
      margin-top: 13px;
      margin-bottom: 13px;
      display: table;
      box-shadow: 0px 3px 5px rgba(12, 67, 82, 0.3); }
    .adventages ul li .text {
      line-height: 25px;
      color: #FFFFFF;
      display: table-cell;
      vertical-align: middle;
      padding-left: 20px; }
      @media screen and (min-width: 480px) {
        .adventages ul li .text {
          font-size: 15px; } }
      @media screen and (min-width: 750px) {
        .adventages ul li .text {
          font-size: 13px; } }
      @media screen and (min-width: 1110px) {
        .adventages ul li .text {
          font-size: 18px; } }
    .adventages ul li .number {
      font-size: 18px;
      border-radius: 50%;
      color: #FFFFFF;
      border: 1px solid;
      float: left;
      height: 30px;
      width: 30px;
      position: relative;
      transform: translate(15px, 105%); }
      .adventages ul li .number span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 300; }

.backForm {
  background: url("images/form.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 25px; }
  .backForm .container {
    padding-left: 15px;
    padding-right: 15px; }
  .backForm b {
    font-weight: 700; }
  .backForm h2 {
    padding-top: 30px;
    padding-bottom: 25px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase; }
    @media screen and (min-width: 480px) {
      .backForm h2 {
        font-size: 22px; } }
    @media screen and (min-width: 750px) {
      .backForm h2 {
        font-size: 35px; } }
  .backForm label {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%; }
    @media screen and (min-width: 480px) {
      .backForm label {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 48.57143%;
        float: left; } }
    @media screen and (min-width: 750px) {
      .backForm label {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 22.85714%;
        float: left; } }
  .backForm input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .backForm input[type="text"], .backForm input[type="tel"], .backForm input[type="email"] {
    box-sizing: border-box;
    font-size: 15px;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid;
    border-radius: 14px;
    padding: 9px 15px 9px 15px; }
    .backForm input[type="text"]:focus, .backForm input[type="tel"]:focus, .backForm input[type="email"]:focus {
      outline: 0; }
  .backForm input[type="button"] {
    box-sizing: border-box;
    font-size: 15px;
    color: #FFFFFF;
    background: transparent;
    border: 2px solid;
    border-radius: 14px;
    padding: 7px 15px 9px 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700; }

::-webkit-input-placeholder {
  color: #FFFFFF; }

::-moz-placeholder {
  color: #FFFFFF; }

:-moz-placeholder {
  color: #FFFFFF; }

:-ms-input-placeholder {
  color: #FFFFFF; }

.mainAdvent {
  background: #f6f7fa;
  padding-top: 60px;
  padding-bottom: 55px;
  color: #333333;
  text-align: center; }
  .mainAdvent .container {
    padding-left: 15px;
    padding-right: 15px; }
  .mainAdvent b {
    color: #a6569b;
    font-weight: 700; }
  .mainAdvent h2 {
    font-size: 40px;
    padding-bottom: 45px; }
    @media screen and (min-width: 480px) {
      .mainAdvent h2 {
        font-size: 30px; } }
    @media screen and (min-widht: 970px) {
      .mainAdvent h2 {
        font-size: 40px; } }
  .mainAdvent .percent {
    border: 1px solid #d1d2d5;
    border-radius: 50px;
    width: 450px;
    margin: auto;
    height: 100px;
    margin-bottom: 60px; }
    .mainAdvent .percent .number {
      color: #26ad60;
      font-size: 62px;
      font-weight: 700;
      padding-top: 15px;
      float: left;
      margin-left: 50px;
      margin-top: 2px; }
    .mainAdvent .percent .text {
      color: #333333;
      font-size: 26px;
      font-weight: 700;
      float: left;
      width: 155px;
      margin-left: 35px;
      border-left: 1px solid #d0d0d0;
      padding-left: 15px;
      margin-top: 23px; }
  .mainAdvent h3 {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 45px; }
  .mainAdvent .list {
    margin: auto;
    margin-top: 9px;
    margin-bottom: 9px; }
    .mainAdvent .list:after {
      content: ' ';
      clear: both;
      visibility: hidden;
      display: block; }
    @media screen and (min-width: 480px) {
      .mainAdvent .list {
        width: 100%; } }
    @media screen and (min-width: 970px) {
      .mainAdvent .list {
        width: 785px; } }
    .mainAdvent .list .index {
      color: #38b36d;
      font-weight: 300;
      font-size: 18px;
      border: 1px solid;
      border-radius: 50%;
      float: left;
      width: 30px;
      height: 30px;
      position: relative; }
      .mainAdvent .list .index span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .mainAdvent .list .value {
      color: #4e4e4e;
      border-bottom: 1px solid #d2d2d2;
      float: left;
      padding-bottom: 10px;
      margin-left: 18px;
      text-align: left;
      font-size: 18px;
      line-height: 20px; }
      @media screen and (min-width: 480px) {
        .mainAdvent .list .value {
          width: 85%; } }
      @media screen and (min-width: 970px) {
        .mainAdvent .list .value {
          width: 735px; } }
  .mainAdvent .link {
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    padding-top: 65px;
    padding-bottom: 60px; }
    .mainAdvent .link span {
      position: relative; }
    .mainAdvent .link span::before {
      content: ' ';
      background: url("images/sprite.png") no-repeat 15px 6px;
      width: 40px;
      height: 40px;
      display: block;
      position: absolute;
      left: -70px;
      border: 1px solid #26ad60;
      border-radius: 50%;
      padding: 5px;
      margin-top: -9px; }
  @media screen and (min-width: 480px) and (max-width: 750px) {
    .mainAdvent .ad {
      font-size: 17px; } }
  .mainAdvent .ad span:before {
    background-position: -23px 9px;
    width: 38px;
    height: 38px; }

.statistics header {
  background: #26ad60;
  color: #FFFFFF;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center; }
  .statistics header h3 {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 5px; }
  .statistics header h4 {
    font-size: 35px;
    font-weight: 300; }

.statistics footer {
  background: url("images/statistic.jpg") no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding-top: 44px;
  padding-bottom: 48px; }
  .statistics footer:after {
    content: ' ';
    display: table;
    clear: both;
    visibility: hidden; }
  .statistics footer .stats_elem {
    float: left;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px; }
    @media screen and (min-width: 480px) {
      .statistics footer .stats_elem {
        width: 100%; } }
    @media screen and (min-width: 750px) {
      .statistics footer .stats_elem {
        width: 33.3%; } }
    .statistics footer .stats_elem .icon {
      background: url("images/sprite.png") no-repeat -71px 0px;
      width: 56px;
      height: 47px; }
      @media screen and (min-width: 480px) {
        .statistics footer .stats_elem .icon {
          margin: auto; } }
      @media screen and (min-width: 750px) {
        .statistics footer .stats_elem .icon {
          margin: 0; } }
    .statistics footer .stats_elem .icon_2 {
      background-position-x: -129px;
      width: 50px; }
    .statistics footer .stats_elem .icon_3 {
      background-position-x: -179px;
      width: 50px; }
    .statistics footer .stats_elem .text {
      padding-top: 28px;
      font-size: 18px;
      font-weight: 300;
      line-height: 22px;
      margin-bottom: 10px; }
      @media screen and (min-width: 480px) {
        .statistics footer .stats_elem .text {
          text-align: center; } }
      @media screen and (min-width: 750px) {
        .statistics footer .stats_elem .text {
          text-align: left; } }

.siteFooter {
  background: #ebebeb;
  padding-top: 30px;
  padding-bottom: 33px;
  color: #2d2d2d; }
  .siteFooter .container {
    padding-left: 15px;
    padding-right: 15px; }
  .siteFooter b {
    font-weight: 700; }
  .siteFooter h4 {
    font-size: 15px;
    padding-top: 9px; }
    @media screen and (min-width: 480px) {
      .siteFooter h4 {
        display: none; } }
    @media screen and (min-width: 750px) {
      .siteFooter h4 {
        display: block;
        width: 31.42857%;
        float: left; } }
    @media screen and (min-width: 970px) {
      .siteFooter h4 {
        width: 22.85714%;
        float: left; } }
  @media screen and (min-width: 480px) {
    .siteFooter .adress {
      width: 48.57143%;
      float: left; } }
  @media screen and (min-width: 750px) {
    .siteFooter .adress {
      width: 40%;
      float: left;
      margin-left: 5.71429%; } }
  @media screen and (min-width: 970px) {
    .siteFooter .adress {
      width: 31.42857%;
      float: left; } }
  @media screen and (min-width: 480px) {
    .siteFooter .logo {
      width: 48.57143%;
      float: right; } }
  @media screen and (min-width: 750px) {
    .siteFooter .logo {
      width: 22.85714%;
      float: right;
      margin-left: 0; } }
  @media screen and (min-width: 970px) {
    .siteFooter .logo {
      margin-left: 5.71429%; } }
  .siteFooter .logo .img {
    background: url(images/sprite.png) no-repeat -244px -2px;
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 10px;
    margin-top: 3px; }
